.fixed-container {
	max-width: 1170px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.page-wrapper {
	margin: 16px;
}

.page-title {
	padding-bottom: 20px;
}

.center-align {
	align-items: center;
}

.right-align {
	align-items: right;
}

.left-align {
	align-items: left;
}

.icon-text {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}