// _variables.scss
// Fonts Family
$header-fonts: "Oswald", sans-serif;
$logo-fonts: "Merriweather", serif;
$input-fonts: "Roboto", sans-serif;
$body-fonts: "Lato", sans-serif;

// Color
$white: #FFFFFF;
$white-light: #edf0f1;

$black: #24252a;
$black-00: #152246;
$blue-100: #333954;
$black-200: #555C6A;

$red: #FF0000;
$dark-red: #C00C00;

$default-color: #21ce99;
$blue: #06C167;
$blue: #188038;

$blue-100: #1877F2;
$blue-200: #4A6EE0;
$blue-300: #4CBAF6;
$blue-400: #49A0F5;

$purple-100: #6D62E4;
$purple-200: #814DE7;

$yellow-100: #FBC73C;