// _variables.scss
// Fonts Family
$header-fonts: "Oswald", sans-serif;
$logo-fonts: "Merriweather", serif;
$input-fonts: "Roboto", sans-serif;
$body-fonts: "Lato", sans-serif;

// Color
$white: #ffffff;
$white-light: #edf0f1;
$black: #24252a;
$red: #ff0000;
$dark-red: #c00c00;
$default-color: #21ce99;