<mat-card class="auth-form">
	<mat-card-title class="auth-form-title">Register</mat-card-title>
	<mat-card-content class="auth-form-content">
		<form [formGroup]="registerForm" (ngSubmit)="register()">

			<mat-form-field>
				<input matInput formControlName="email" placeholder="Email">
				<mat-error *ngIf="field.email.hasError('email') && !field.email.hasError('required')">
					Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="field.email.hasError('required')">
					Email is required
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input type="password" matInput placeholder="Password" formControlName="password" />
				<mat-error *ngIf="field.password.hasError('required')">
					Password is required
				</mat-error>
				<mat-error *ngIf="field.password.hasError('minlength')">
					Password must be at least 4 characters
				</mat-error>
				<mat-error *ngIf="field.password.hasError('maxlength')">
					Password can not exceed 32 characters
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" />
				<mat-error *ngIf="field.confirmPassword.hasError('required')">
					Confirm Password is required
				</mat-error>
				<mat-error *ngIf="field.confirmPassword.hasError('invalid')">
					Passwords must match
				</mat-error>
			</mat-form-field>

			<div class="buttons">
				<button mat-stroked-button color="primary" [disabled]="!registerForm.valid" type="submit">
					Register
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>