@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

@import "./partials/variables.scss";
@import "./partials/_auth.scss";
@import "./partials/_global.scss";
@import "./partials/common.scss";
@import "./partials/spacing.scss";




.group-btn {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	&__round {
		background-color: white;
		padding: 10px;
		border-radius: 100%;
	}
}
   
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
	padding: 0;
	&__item {
		display: flex;
		padding: 1rem;
		@media(min-width: 40rem) {
			width: 50%;
		}
		@media(min-width: 56rem) {
			width: 33.3333%;
		}
	}
}
  
  
.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
		.card__image {
			filter: contrast(100%);
		}
    }
}
  
.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}
  
.card__image {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
    &::before {
        content: "";
        display: block;
        padding-top: 56.25%; // 16:9 aspect ratio
    }
    @media(min-width: 40rem) {
		&::before {
			padding-top: 66.6%; // 3:2 aspect ratio
		}
    }
}
  
.card__title {
	//   color: @gray-dark;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
  
.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}
  
  