@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

// _variables.scss
// Fonts Family
$header-fonts: "Oswald", sans-serif;
$logo-fonts: "Merriweather", serif;
$input-fonts: "Roboto", sans-serif;
$body-fonts: "Lato", sans-serif;

// Color
$white: #ffffff;
$white-light: #edf0f1;
$black: #24252a;
$red: #ff0000;
$dark-red: #c00c00;
$default-color: #21ce99;

@import "./partials/auth.scss";

// _global.scss
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: $body-fonts;
}

.page-title {
	padding-bottom: 20px;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
}

.fixed-container {
	max-width: 1170px;
	margin: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid $white;
}

.header {
	background: $black;
	padding: 1rem;
}

.body {
	background: whitesmoke;
	color: #444;
	padding: 1rem;
}

.footer {
	background: $black;
	padding: 1rem;
	color: $white;
	text-align: center;
}

.center-align {
	align-items: center;
}

.right-align {
	align-items: right;
}

.left-align {
	align-items: left;
}

hgroup,
label {
	font-family: $input-fonts;
}

// common
.icon-text {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

// paddings and margins
.mr-5 {
	margin: 5px !important;
}
.ml-5 {
	margin-left: 5px !important;
}

.mr-10 {
	margin: 10px;
}
