<div class="upload-image">
    <mat-card class="upload-image__card">
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onClick()">
                <mat-icon>file_upload</mat-icon>Upload Images
            </button>
        </mat-card-actions>
        <mat-card-content *ngIf="files.length > 0">
            <ul class="upload-image__card-list">
                <li class="upload-image__card-list__item" *ngFor="let file of files">
                    <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                    <span id="file-label"></span>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>

    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*"
        style="display:none;" />
</div>